<!DOCTYPE html>

<html lang="es">
<head>
  {% extends 'base.html' %} 
  {% load static %}
    <link rel="stylesheet" type= "text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pignus</title>
  
</head>
</head>
<body>
  {% block content %}
  <div class="container minh">
      <div class="row">
          <div class="logo">
              <div class="col s12 m12">
                  <img class="center responsive-img" style="margin-left: 25%;" src="../static/img/contactos.png" alt="">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="container">
              <h5> Contacte con nosotros </h5>
              <p>puede hablarnos ante cualquier duda o sugerencia a traves de nuestras redes sociales.</p>
              <br>
              <button onclick="location.href='https://www.facebook.com/Pignussseguridad/'">Ir a Facebook pignus</button>
              <br>
              <p></p>

          </div>
      </div>
  </div>
  {% endblock content %}
</body>
</html>