<!DOCTYPE html>

<html lang="es">
<head>
  {% extends 'base.html' %} 
  {% load static %}
    <link rel="stylesheet" type= "text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pignus</title>
  
</head>
</head>
<body>
  {% block content %}
  <div class="head">
    <img class="responsive-img" src="../static/img/header.jpg"  width="100%" height="600" alt="img no disponible">
  </div>
  <div class="camp">
    <div class="row">
      <div class="col s12 m6">
        <h3> Somos lideres</h3>
        <blockquote> Tenemos años de experiencia en todo el mundo, cuidando tu seguridad y la de tus seres queridos.
          Sigue nuestras campañas disponibles en tu region y genera tu orden de instalación ya! solo debes registrarte y en tu perfil podras
          contarnos qué es lo que necesitas, asi de fácil.
        </blockquote>
      </div>
      <div class="gainsboro col s12 m6">
        <h3>Cálidad</h3>
        <p>Contamos con técnicos capacitados bajo los mayores standares de cálidad</p>
        <p>Nuestros administradores estan 24/7 esperando que nos envies lo que necesitas para asegurar lo que más quieres.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="col s12 m12">
    <img class="center responsive-img" style="margin-left: 35%;" src="../static/img/logoreal.png" alt="">

  </div>
  <br>
  <br>
  <br>
  <div class="camp2">
    <div class="row">
      <div class="col s12 m12 xl12">
        <div class="col s12 m5 xll5">
          <h5>Instala la app y podras monitorear en tiempo real lo que sucede delante de nuestras camaras.</h5>
          <img  class="responsive-img" src="../static/img/unnamed.png" width="300" height="300" alt="">
          <img class="responsive-img" src="../static/img/appstore.png" width="300" height="auto" alt="">
        </div>
        <div class="col s12 m7 xl7">
          
          <h4>Qué esperas para unirte?</h4>
          <img src="../static/img/img23.jpg" width="500" height="auto" alt="">
        </div>
      </div>
    </div>
  </div>
    
  {% endblock content %}
</body>
</html>