<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block titulo %}
    <title> Bienvenido {{user}}</title>
    {% endblock titulo%}
</head>
<body>
    {% block content %}
    
    <div class="container minh">
        <br>
        <div class="row z-depth-1" style="border-radius: 3px; background-color: #e4f2f5">
            <div class="perfil">
                <div class="col xl2 foto">       
                    <img class="circle" src="{{ user.profile.image.url }}" alt=" Error " width="120" height="auto">
                </div>
                <div class="col xl10infor">
                    <h3 style="font-weight: bold;">{{user.username}}</h3>
                    <li>Contacto : {{user.email}}</li>
                </div>
                <div class="edit right" style="margin: 3px;">
                    <a href="{% url 'edit' %}"><Button class="waves-effect waves-light btn">Editar datos</Button></a>
                </div>
            </div>
        
        </div>
    
        <div class="row z-depth-1" style="border-radius: 3px; background-color: #e4f2f5">
            <h3> Genera tu orden de instalacion </h3>
            <div class="new right" style="margin: 3px;">
                <a href="{% url 'post-create' %}"><Button class="waves-effect waves-light btn">Generar orden</Button></a>
            </div>
        </div>

        {% for orden in ordenes %}
        <div class="card col m12 ">
            <div class="row">
                <div class="col s3 m3 right" style="margin: 3px;">
                    <a href="{% url 'post-update' orden.folio %}"><Button class="waves-effect waves-light btn">Editar</Button></a>
                    <a href="{% url 'post-delete' orden.folio %}"><Button class="waves-effect waves-light btn">Eliminar</Button></a>
                </div>
           
                <div class="img col m1">
                    <img class="circle responsive-img " src="{{ orden.autor.profile.image.url }}"  width="60" height="auto">
                </div>
                <div class="autor col m11">
                        <a href="#">{{ orden.autor }}</a>
                </div>
                <div class="metadata col m12">
                    <small class="text-muted">{{ orden.fecha|date:"F d, Y" }}</small>
                </div>
                <div class="col s12 m12">
                    {{ orden.contenido }}
                </div>
                <div class="col s12 m12">
                    <img class="responsive-img" src="/media/{{ orden.imagen }}" width="400" height="auto" alt="">
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
       
    {% endblock content%}
</body>
</html>