<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="es">
    <head>
        <title>Registro</title>

    </head>
 
    <body>
     
        <div class="container">
           
            {% block content %}
            
            <div class="row">
                <div class="col s12 m8 form-group">
                    <div class="container">
                        <form method="POST" class="input-field" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="input-field">
                                <legend class="button">Unete Hoy</legend>
                                <h6>{{ form }}</h6>
                                                        
                            </fieldset>
                            <br>
                            <div class="form-group">
                                <button class="btn waves-effect waves-light" type="submit"> Registrarme</button>
                    
                            </div>
                        </form>
                        <div class="borde">
                            <small class="texto"> 
                            <h5> Ya tengo una cuenta <a href="{% url 'login' %}"> Login </a> </h5>
                            </small>
                        </div>
                    </div>  
                </div>
            </div>
            
            {% endblock content%}
        </div>
       


  
    </body>
</html>