<!DOCTYPE html>

<html lang="es">
<head>
  {% extends 'base.html' %} 
  {% load static %}
    <link rel="stylesheet" type= "text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pignus</title>
  
</head>
</head>
<body>
  {% block content %}
  <div class="container minh">
       <h5> 
       Sientete seguro con pignus 24/7 los 365 dias 
     </h5>
      <div class="row">
           
          <div class="logo">
              
              <div class="col s12 m12">
                  <img class="center responsive-img" style="margin-left: 25%;" src="../static/img/logoreal.png" alt="">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="container">
              <h5> Nosotros </h5>
              <p>PIGNUS. Es una empresa constituida en la Región Metropolitana durante el año 2020, abarcando la seguridad del hogar y de las empresas a cargo de las Camaras de Seguridad (CCTV). Nuestro enfoque es que los clientes se sientan confortables bajo la vista de las Camaras.</p>
              <br>
              <br>
              <h5> Mision </h5>
              <p>Nuestra misión es otorgar soluciones a su seguridad mediante monitoreo con Camaras de Seguridad las cuales podra vizualizar desde su telefono movil. Ofreciendo la mejor calidad en imagenes, ademas de consolidar una relación a largo plazo con nuestros clientes sumando una labor de nuestra área comercial y oportuna respuesta de nuestra área técnica, otorgando un nivel de excelencia en la gestión post-venta.
            </p>
            <br>
              <br>
              <p>    </p>
              <h4><strong>¿Por qué elegirnos?</strong></h4>
              <div class="because-item animate">
                  <div class="item-number">
                      <span></span>
                  </div>
                  <div class="item-text">
                      <h5><b>Monitoreo 24/7</b></h5>
                      <p>Te notificaremos si sucede un evento real en tu negocio en cualquier momento.</p>
                  </div>
              </div>
              <div class="because-item animate">
                  <div class="item-number">
                      <span></span>
                  </div>
                  <div class="item-text">
                      <h5><b>Conexión a Carabineros</b></h5>
                      <p>Mediante el sistema ALPHA III logramos la mejor coordinación y respuesta. </p>
                  </div>
              </div>
              <div class="because-item animate">
                  <div class="item-number">
                      <span></span>
                  </div>
                  <div class="item-text">
                      <h5><b>Control total vía app Pignus</b></h5>
                      <p>Arma, desarma y programa reglas a la medida  de forma remota y confiable. También puedes pedir imágenes y videos.</p>
                  </div>
              </div>
              <div class="because-item animate">
                  <div class="item-number">
                      <span></span>
                  </div>
                  <div class="item-text">
                      <h5><b>Cámaras con grabación en la nube</b></h5>
                      <p>Con nuestras cámaras adicionales de visión 360° puedes ver todo lo que ocurre en un lugar, controlarlas desde tu celular y mantener grabación en la nube.</p>
                  </div>
              </div>
          </div>
          </div>
                <small></small>
          </div>
      </div>
  </div>
  {% endblock content %}
</body>
</html>